<h2>Content List</h2>

<div>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter title" />
  <button (click)="searchContent()">Search</button>
  <p [style.color]="titleExists ? 'green' : 'red'">
    {{ searchMessage }}
  </p>
</div>

<h3>Content with No Type:</h3>
<app-content-card *ngFor="let content of contents | typeFilter: ''" [content] = "content">
</app-content-card>

<h3>Content with Pakistani Actors:</h3>
<app-content-card *ngFor="let content of contents | typeFilter: 'Pakistani'" [content] = "content">
</app-content-card>

<h3>Content with Turkish Actors:</h3>
<app-content-card *ngFor="let content of contents | typeFilter: 'Turkish'" [content] = "content">
</app-content-card>