<main>
    <app-modify-content (addActorEvent)="addNewActor($event)"></app-modify-content>

  <section class="searchForTitle">
      <div>
        <mat-form-field>
            <mat-label>Search For Title</mat-label>
            <input matInput type="text" [(ngModel)]="searchTitle" placeholder="Search Title Here...">
        </mat-form-field> <br>
        <button mat-raised-button color="primary" (click)="searchByTitle()">Search <mat-icon>Search</mat-icon></button>
      </div>
      <div *ngIf="titleFound !== null">
          <p [style.color]="titleFound ? 'green' : 'red'">
              {{titleFound ? 'Actor Exist' : 'Actor Not Exist'}}
          </p>
      </div>
  </section>

  <h1>Actor with No Type</h1>

  <section class="cards">
    <div *ngFor="let content of contents | typeFilter:''" hoverAffect="border">
        <app-content-card [actor]="content" [class]="''"></app-content-card>
    </div>
</section>

<h1>Turkish Actor</h1>

<section class="cards">
  <div *ngFor="let content of contents | typeFilter:'Turkish'" hoverAffect="border">
      <app-content-card [actor]="content" [class]="'Turkish'"></app-content-card>
  </div>
</section>

<h1>Pakistani Actor</h1>

    <section class="cards">
        <div *ngFor="let content of contents | typeFilter:'Pakistani'" hoverAffect="border">
            <app-content-card [actor]="content" [class]="'Pakistani'"></app-content-card>
        </div>
    </section>
</main>