<div [id]="actor.id" [ngClass]="['card', class]" hoverAffect="border">

    <div *ngIf="actor.image; else defaultImage">
        <img  [src]="actor.image" alt={{actor.title}} (click)="handleClick(actor)">
    </div>
    <ng-template #defaultImage>
        <img [src]="defaultActor" alt={{actor.title}} (click)="handleClick(actor)">
    </ng-template>

    <h2>{{actor.title}}</h2>
    <p>{{actor.description}}</p>
    <p><strong>Creator:</strong> {{actor.creator}}</p>
    <p *ngIf="actor.type" hoverAffect="underline"><strong>Type:</strong> {{actor.type}}</p>
    <p *ngIf="actor.tags"><strong>Tags:</strong> 
        <span *ngFor="let tag of actor.tags" hoverAffect="bold">#{{ tag }}</span>
    </p>
</div>